body { 
  background-image: url("website_wallpaper.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;

}
html * {
   color: #000 !important;
   font-family: Arial !important;
}
.nav{
  height: 80px;
  background: #4de1ff;
    
}
