body { 
  background-image: url("wallpaper.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
html * {
   font-size: 1em !important;
   color: #000 !important;
   font-family: Arial !important;
}
