body { 
  background-image: url("website_wallpaper.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;

}
html * {
   color: #000 !important;
   font-family: Arial !important;
}
.nav{
  height: 40px;
  background: #4de1ff;
    
}

.nav ul{
  margin: 0;
  padding: 0;

}

.nav ul li{
  list-style: none;
}

.nav ul li a {
  text-decoration: none;
  
  float: left;

}
